#chemical-product {
	width: 100vw;
	background-color: #f2f2f2;
	padding:0px;
	position: relative;
}

#chemical-info > h4 {
	font-family: sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	margin: 0px 0px 15px 0px;
	font-size: 1.4em;
}

#chemical-info > h4 > span {
	color: #8b0000;
	font-size: 0.8em;
}

#chemical-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;
}

#in-test {
	padding: 20px 0px;
	overflow: hidden;
	background-color: #8b0000;
	color: #ffffff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 2);
}

#in-test > h4 {
	font-size: 1.4em;
	width: 80%;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10%;
}

#in-test > p {
	width: 80%;
	margin-left: 10%;
}

.app-process {
	background-color: #fff;
	overflow: hidden;
	color: #000;
	position: relative;
	padding: 15px 0px;
	box-shadow: 0 0 2px rgba(0,0, 0, 1);
	margin-bottom: 15px;
}

.app-process > h4 {
	font-size: 1.4em;
	color: #8b0000;
	margin-top: 0px;
	margin-bottom: 10px;
	display: inline-block;
	margin-left: 15%;
}

.app-process > p{
	font-size: 1em;
	width: 80%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15%;
}

.app-process > p > span {
	font-weight: bolder;
}

.app-process > img {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (min-width: 1505px) {
	#background-x {
		height: 950px;
		margin-left: -25px;
	}

	#chemical-info {
		width: 1430px;
		height: auto;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#chemical-content {
		height: 80%;
		
	}

	#application, 
	#testamonials {
		width: 39%;
		height: 100%;
		
	}

	#in-test {
		margin-top: 50%;
		transform: translateY(-50%);
	}

	#small-bottle {
		display: none;
	}
}

@media screen and (max-width: 1504px) and (min-width: 1026px) {
	#background-x {
		height: 950px;
		margin-left: -25px;
	}

	#chemical-info {
		width: 950px;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#testamonials {
		order: 0;
	}

	#in-test {
		padding-bottom: 12px;
	}

	#bottle {
		order: 1;
	}

	#application {
		order: 2;
		width: 70%;
		margin-top: 25px;
	}

	#small-bottle {
		display: none;
	}
}

@media screen and (max-width: 1025px) {
	#chemical-product {
		overflow: hidden;
	}

	#chemical-info {
		width: 80%;
		margin-left: 10%;
		position: absolute;
		z-index: 10000;
		position: relative;
	}

	#chemical-content {
		padding-bottom: 20px;
	}

	#testamonials {
		order: 1;
	}

	#in-test {
		padding-bottom: 12px;
	}

	#application {
		order: 2;
		width: 100%;
		margin-top: 25px;
	}

	#bottle,
	#background-x {
		display: none;
	}

	#small-bottle {
		height: 450px;
		margin-left: 50%;
		transform: translate(-50%);
	}
}

@media screen and (max-width: 644px) {
	.app-process {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
	}

	.app-process > h4 {
		order: 1;
		margin: auto;
		text-align: center;
	}

	.app-process > img {
		position: relative;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		transform: translate(-50%);
		order: 2;
	}

	.app-process > p {
		width: 80%;
		margin-left: 10%;
		order: 3;
	}
}

@media screen and (max-width: 455px) {
	#small-bottle {
		width: 100vw;
		height: auto;
	}
}