#testing-something {
	width: 950px;
	height: 300px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.test-cards {
	width: 300px;
	height: 300px;
	box-shadow: inset 0 0 0 2px #000;
	transition: all 0.25s linear;
	position: relative;
}

.read-more {
	border: 2px solid #000;
	color: #000;
	background-color: transparent;
	position: absolute;
	bottom: 20px;
}

button:hover {
	text-decoration-line: none;
}