#location {
	width: 100vw;
	height: auto;
	overflow: hidden;
}

#maps-background {
	width: 100vw;
	height: auto;
	background-size: auto 100vw;
	background-position: center center;
}

#map-cover {
	width: 100vw;
	min-height: 500px;
	background-color: rgba(139, 0, 0, 0.9);
	overflow: hidden;
}

#location-tag {
	color: #fff;
	margin-top: 25px;
	margin-bottom: 15px;
}

#location-tag::after {
	content: "";
	width: 225px;
	height: 3px;
	display: block;
	background-color: #ffffff;
}

#loc-content {
	height: auto;
	margin:auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 0px 50px 0px;
}

#map {
	border: 2px solid #fff;
	width: 500px;
	padding: 10px;
	overflow: hidden;
}

#personal-info {
	width: auto;
	padding: 10px 10px;
	overflow: hidden;
	color: #fff;
}

#personal-info > p {
	width: 650px;
	margin-left: 5px;
}

#personal-body > h4 {
	font-size: 1.2em;
	text-align: left;
	margin: 0px 5px 10px;
	display: inline-block;
	border-bottom: 2px solid #ffffff;
}

.personal-tags {
	font-size: 1em;
	display: inline-block;
	margin: 0px 10px;
	display: block;
}

.personal-tags::after {
	font-weight: lighter;
	font-size: 0.8em;
}

#owner-tag::after {
	content: "David David";
	display: inline-block;
	margin-left: 10px;
}

#phone-tag::after {
	content: "(702)-xxx-xxxx";
	display: inline-block;
	margin-left: 10px;
}

#email-tag::after {
	content: "emailaddress@gmail.com";
	display: inline-block;
	margin-left: 10px;
}

#addy-tag::after {
	content: "Address";
	display: inline-block;
	margin-left: 10px;
}

#personal-body > h2 {
	font-size: 0.8em;
	margin: 5px 25px;
	font-weight: normal;
}

#menu > h3 {
	color: #ffffff;
	font-size: 1.2em;
	border-bottom: 2px solid #fff;
	margin-top: 0px;
	margin-bottom: 10px;
	display: inline-block;
}

#menu > ul {
	margin-left: 0px;
	margin-bottom:  0px;
}

#menu > ul > a {
	color: #fff;
	text-decoration: none;
}

#menu > ul > ul > a {
	color: #fff;
	text-decoration:  none;
}

#menu > ul > a > li {
	margin-left: 0px;
}

#menu > ul > ul {
	margin-bottom: 15px;
}

#menu > ul > a > li,
#menu > ul > ul > a > li {
	list-style: none;
	text-decoration: underline;
}

#menu > ul > a > li:hover,
#menu > ul > ul > a > li:hover {
	text-decoration: none;
}

@media screen and (min-width: 1505px) {
	#loc-content {
		width: 1430px;
	}

}

@media screen and (max-width: 1504px) and (min-width: 1026px) {
	#loc-content {
		width: 950px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	#map {
		order: 1;
	}

	#personal-info {
		order: 2;
		width: 100%;
		text-align: center;
	}

	#personal-body {
		display: inline-block;
		text-align: left;
	}

	#personal-info > p {
		width: 100%;
		
		margin-top: 10px;
	}

	#menu {
		order: 0;
		margin-left: 15%;
	}

}

@media screen and (max-width: 1025px) {
	#loc-content {
		width: 80%;
		margin-left: 10%;
	}

	#map {
		width: 100%;
	}

	#personal-info {
		width: 100%;
		padding: 0px;
	}

	#personal-info > p{
		margin-top: 15px;
		margin-left: 0px;
		width: 100%;
	}
}



/*@media screen and (max-width: 980px) {
	#loc-content {
		width: 80%;
		height: auto;
		margin: 10px auto;
		display: flex;
		padding: 10px 0px 20px 0px;
	}

	#personal-info {
		width: 100%;
		height: auto;
		order: 1;
		margin-bottom: 20px;
		
		text-align: center;
	}

	.personal-tags {
		margin: 10px 0px;
		font-size: 1em;
	}

	#map {
		width: 100%;
		height: auto;
		padding-bottom: 100%;
		order: 2;
	}
}*/